<!DOCTYPE html>
<html>

<head>
    <title>Edit</title>
</head>

<body>
    <h1>Edit Form</h1>
    <form method="post" action="http://localhost:3000/comments/<%= comment.id%>?_mathod=patch">
        <section>
            <label for="comment">Comment Text</label>
            <br>
            <textarea id="comment" cols="30" rows="5" name="comment">
                <%= comment.comment %>
            </textarea>
        </section>
        <button>Submit</button>
    </form>
</body>

</html>