<!DOCTYPE html>
<html>

<head>
    <title>Get All Comments</title>
</head>

<body>
    <h1>Comments!</h1>
    <ul>
        <% for(let c of comments) { %>
            <li>
                <%= c.comment%> - <%= c.username%>
                        <a href="/comments/<%=c.id %>">Details</a>
            </li>
            <% } %>
    </ul>
    <a href="/comments/new">New Comment</a>
</body>

</html>