<!DOCTYPE html>
<html>

<head>
    <title>All Farms </title>
</head>

<body>

    <h1>
        All Farms
    </h1>
    <ul>
        <% for(let farm of farms) { %>
            <li>
                <a href="/farms/<%=farm._id%>">
                    <%= farm.name%>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>