<!DOCTYPE html>
<html>

<head>
    <title>
        My Site
    </title>
    <link rel="stylesheet" href="/34_creating_dynamic_html_with_template/public/css/bootstrap.min.css">
    <script src="/34_creating_dynamic_html_with_template/public/js/bootstrap.min.js"></script>
</head>